<header>
	<div class="text-vertical-center">
		<h1><strong>Market NewsScraper</strong></h1>
		<form action="/scrape" method="get">
		<button class="btn btn-primary btn-lg" type="submit"><strong>Scraped Articles</strong></button>
		</form>
	</div>
</header>


<div id="article" class="container-fluid">
</div>

<div id="comment"></div>

<footer>

</footer>