<header>
	<div class="text-vertical-center">
		<h1><strong>Market NewsScraper</strong></h1>
		<form action="/scrape" method="get">
		<button class="btn btn-primary btn-lg" id="start" type="submit"><strong>Scraped Articles</strong></button>
		</form>
	</div>
</header>

	
	<div id="article">
	</div>

	<div id="comment">
	</div>

<footer>

</footer>